/* CSS Document */

div.myheader, div.myheader a.ui-btn, div.myheader a.ui-btn:focus
{
	background-color: #268A41!important;
	color: #fff!important;
	font-weight: normal!important;
	padding-right:0px;
	padding-left:0px;
	border:none;
}
 
div.myheader .ui-icon-gear, div.myheader .ui-icon-gear:after, div.myheader .ui-icon-gear:hover {
	background-color:#268A41;
	border:none!important;
	box-shadow:none;
	background-size:22px 22px;
}
div.myheader h1 {
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 6px;
	margin-bottom: 0px;
	font-weight: normal;
	text-align: left!important;
	font-size: 20px!important;
}
div.mycontent
{
	margin-top: 30px;
	/* [disabled]width: auto; */
	/* [disabled]display: block; */
}

div.mycontent label 
{
	text-align: center;
	width: auto;

}
div.myfooter
{
	background-color:#323232!important;
	color:#fff!important;
	font-weight:normal!important;
}

div.myfooter div.botones a
{
	background-color: #323232!important;
	border: none!important;
	width: 48%!important;
}
.ui-btn {
	padding-right:0px!important;
	padding-left:0px!important;
}